<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <meta charset="UTF-8">
    <title>RitCloud - Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<style>
  body{
  overflow-x:hidden;
  }


</style>
<body>
<nav>
    <div class="container-fluied" style="width:100%;">
        <div class="row">
            <div class="col-md-9">
                <h1 style="text-align:left;font-size:250%;margin-top:20px;margin-left:20px;"><i
                        class="bx bxs-cloud bx-lg"></i><span style="color:Blue"><b>Rit</b></span>Cloud</h1>
            </div>
            <div class="col-md-2 mt-5 text-right">
                <h4><i class="bx bxs-user bx-sm"></i> {{session['name']}}</h4>
            </div>
            <div class="col-md-1 mt-5 text-left">
                <form method="post" action="logout">
                    <input type="submit" class="btn btn-danger" value="Logout">
                </form>
            </div>
        </div>
    </div>
    <hr style="background-color:black;height:2px;width:100%">
</nav>

{% if alert== '1' %}
    <!--This is alert for something went wrong during forgot password-->
    <div class="alert alert-success mx-5 my-3  alert-dismissible fade show" role="alert">
        Login Successfull...
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div class="container text-center mt-5">
    <div class="col-md-12">
        <h2>Choose Following Option</h2>
    </div>
</div>

<div class="container text-center   d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col-md-5 border border-primary p-5 m-3 btn btn-danger"
             onclick="location.reload();location.href='{{url_for('upload')}}';">
            <img src="https://cdn.pixabay.com/photo/2017/06/13/12/53/upload-2398772__340.png" width="50%">
            <h3 class="mt-5">Upload Files</h3>
        </div>
        <div class="col-md-5 border border-primary p-5 m-3 btn btn-primary"
             onclick="location.reload();location.href='{{url_for('download')}}';">
            <img src="https://cdn.pixabay.com/photo/2016/12/18/13/45/download-1915753__340.png" width="60%">
            <h3 class="mt-3">Download Files</h3>
        </div>
    </div>
</div>


<footer style="background-color:rgb(200,200,200);padding:5px;text-align:center;width:100%;padding-top:10px;margin-top:7%">
    @copyrights reserved 2021
</footer>

</body>
</html>

