<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RitCloud - OTP Confirmation</title>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="my-5">
    <h1 style="text-align:center;font-size:250%;margin-top:20px"><i class="bx bxs-cloud bx-lg"></i><span
            style="color:Blue"><b>Rit</b></span>Cloud</h1>
</nav>
<hr style="background-color:black;height:2px">

<div id="alerts">
    {% if alert== '1' %}
    <div class="alert alert-danger mx-5 my-3 alert-dismissible fade show" role="alert">
        Wrong OTP Entered...Enter Valid OTP or Click Resend OTP.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>

<div class="container my-3 p-3 text-center">
    <h3>Enter OTP</h3>
    <h6>OTP was sent to your provided email id.</h6>
    <form action="otpforgotpasswordhandle" method="post" class="my-5 form-group">
        <input class="" type="text" name='otp'>
        <input type="submit" class="btn btn-primary" name="otpsubmit">
    </form>
</div>

</body>
</html>